<?xml version="1.0"?>
<configuration>
  <appSettings>
    <add key="theme" value="default"/>
    <add key="title" value="Visual Studio News Feed"/>
    <add key="description" value="News from the Visual Studio team"/>
    <add key="postsPerPage" value="20"/>
    <!-- RSS feeds must be prefixed with "feed:" to be picket up by the aggregation logic -->
    <add key="feed:visualstudio" value="https://devblogs.microsoft.com/visualstudio/feed/"/>
    <add key="feed:dotnet" value="https://devblogs.microsoft.com/dotnet/feed/"/>
    <add key="feed:cplusplus" value="https://devblogs.microsoft.com/cppblog/feed/"/>
  </appSettings>
  <!--
    For a description of web.config changes see http://go.microsoft.com/fwlink/?LinkId=235367.

    The following attributes can be set on the <httpRuntime> tag.
      <system.Web>
        <httpRuntime targetFramework="4.5" />
      </system.Web>
  -->
  <system.web>
    <compilation debug="true" targetFramework="4.8"/>
    <httpRuntime targetFramework="4.8" enableVersionHeader="false"/>
    <trace enabled="true" writeToDiagnosticsTrace="true" localOnly="true"/>
    <caching>
      <outputCacheSettings>
        <outputCacheProfiles>
          <add name="default" duration="3600" varyByParam="page"/>
        </outputCacheProfiles>
      </outputCacheSettings>
    </caching>
  </system.web>
  <system.webServer>
    <staticContent>
      <clientCache cacheControlMode="UseMaxAge" cacheControlMaxAge="7.00:00:00" cacheControlCustom="public"/>
      <remove fileExtension=".ico"/>
      <mimeMap fileExtension=".ico" mimeType="image/x-icon"/>
      <remove fileExtension=".css"/>
      <mimeMap fileExtension=".css" mimeType="text/css; charset=utf-8"/>
    </staticContent>
    <rewrite>
      <rules>
        <rule name="paging">
          <match url="^(\d+)" ignoreCase="true" negate="false"/>
          <action type="Rewrite" url="?page={R:1}"/>
        </rule>
      </rules>
    </rewrite>
  </system.webServer>
</configuration>