<?xml version="1.0"?>
<configuration>
  <appSettings>
    <add key="theme" value="default"/>
    <add key="title" value="Friends of .NET Bytes RSS Feed"/>
    <add key="description" value="News and Updates from Friends of .NET Bytes!"/>
    <add key="postsPerPage" value="20"/>

    <add key="feed:@visualstudio" value="https://devblogs.microsoft.com/visualstudio/feed/"/>
    <add key="feed:@dotnet" value="https://devblogs.microsoft.com/dotnet/feed/"/>
    <add key="feed:@unoplatform" value="https://platform.uno/feed/"/>
    <add key="feed:@postsharp" value="http://feeds.feedburner.com/postsharp"/>
    <add key="feed:@jetbrains" value="http://blogs.jetbrains.com/dotnet/feed/"/>
    <add key="feed:@daveabrock" value="https://www.daveabrock.com/feed/"/>
    <add key="feed:@WestDiscGolf" value="https://adamstorr.azurewebsites.net/feed.rss"/>
    <add key="feed:@RealSwimburger" value="https://swimburger.net/atom.xml"/>
    <add key="feed:@andrewlocknet" value="https://andrewlock.net/rss.xml"/>
    <add key="feed:@baskarmib" value="https://baskarmib.netlify.com/rss.xml"/>
    <add key="feed:@CHBernasconiC" value="http://www.claudiobernasconi.ch/feed/"/>
    <add key="feed:@gregor_suttie" value="https://gregorsuttie.com/feed/"/>
    <add key="feed:@buhakmeh" value="https://khalidabuhakmeh.com/feed.xml"/>
    <add key="feed:@mhmd_azeez" value="https://mazeez.dev/feed.rss"/>
    <add key="feed:@ardalis" value="http://feeds.feedburner.com/StevenSmith"/>
    <add key="feed:@stevejgordon" value="http://stevejgordon.co.uk/feed"/>
    <add key="feed:@code" value="https://code.visualstudio.com/feed.xml"/>
    <add key="feed:@nuget" value="https://devblogs.microsoft.com/nuget/feed/"/>
    <add key="feed:@remcomulder" value="http://blog.ncrunch.net/syndication.axd"/>
  </appSettings>

  <system.web>
    <compilation debug="false" targetFramework="4.8"/>
    <httpRuntime targetFramework="4.8" enableVersionHeader="false"/>
    <trace enabled="true" writeToDiagnosticsTrace="true" localOnly="true"/>
    <caching>
      <outputCacheSettings>
        <outputCacheProfiles>
          <add name="default" duration="3600" varyByParam="page"/>
        </outputCacheProfiles>
      </outputCacheSettings>
    </caching>
  </system.web>
  <system.webServer>
    <staticContent>
      <clientCache cacheControlMode="UseMaxAge" cacheControlMaxAge="7.00:00:00" cacheControlCustom="public"/>
      <remove fileExtension=".ico"/>
      <mimeMap fileExtension=".ico" mimeType="image/x-icon"/>
      <remove fileExtension=".css"/>
      <mimeMap fileExtension=".css" mimeType="text/css; charset=utf-8"/>
    </staticContent>
    <rewrite>
      <rules>
        <rule name="paging">
          <match url="^(\d+)" ignoreCase="true" negate="false"/>
          <action type="Rewrite" url="?page={R:1}"/>
        </rule>
      </rules>
    </rewrite>
  </system.webServer>
</configuration>